@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --font-fam: "Kumbh Sans", sans-serif;
  --heavy-weight: 700;
  --medium-weight: 400;
  --primary-dark-cyan: hsl(185, 75%, 39%);
  --primary-dark-desatur-blue: hsl(229, 23%, 23%);
  --primary-grayish-blue: hsl(227, 10%, 46%);
  --neutra-dark-gray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: var(--font-fam);
}

body {
  background-color: var(--primary-dark-cyan);
  overflow: hidden;
}

.card {
  /* width: 32.6em; */
  position: absolute;
  top: 50%;
  left:  50%;
  transform: translate(-50%, -50%);
  /* max-width: 40em; */
  width: 32.6em;
  height: 37.5em;
  display: flex;
  flex-direction: column;
  place-items: center;
  /* margin: 14.7em 2.5em; */
  overflow: hidden;
  border-radius: 1.5em;
  background-color: white;

}

.card-bgn {
  height: 14em;
}

.profile-pic {
  width: 10.5em;
  height: 10.5em;
  border-radius: 50%;
  border: solid white .5em;
  position: relative;
  top: -14%;
}

.name-age {
  position: relative;
  top: -8%;
}

.name-age {
  font-size: 1.8em;
}

span {
  color: var(--primary-grayish-blue);
  font-size: 1em;
  font-weight: var(--medium-weight);
}

.location {
  color: var(--primary-grayish-blue);
  font-size: 1.4em;
  position: relative;
  top: -4.9%;
}

.divider {
  background-color: hsla(227, 10%, 46%, .1);
  width: 100%;
  height: .2em;
  position: relative;
  top: 2%;
}

.stats {
  display: flex;
  position: relative;
  top: 9%;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
}

.stat h1 {
  font-size: 1.8em;
}

.stat p {
  margin-top: .5em;
  color: var(--primary-grayish-blue);
}

h1 {
  color: var(--primary-dark-desatur-blue);
}

.circle-top {
    overflow: hidden;
    height: calc(50vh);
    width: calc(55vw);
    position: absolute;
    top: calc(0vh);
    left: calc(0vw);
}

.circle-bottom {
    overflow: hidden;
    height: calc(50vh);
    width: calc(55vw);
    position: absolute;
    top: calc(50vh);
    left: calc(45vw);
}

.image-top, .image-bottom {
    width: 650px;
}

.image-top {
    position: absolute;
    right: 2px;
    bottom: 40px;
}


@media (min-width: 900px) {
    .card {
        width: max-content;
    }

    .image-top, .image-bottom {
        width: 1000px;
    }

    .circle-top {
        height: calc(75vh);
        top: calc(-6vh);
        left: calc(-6vw);
    }

    .circle-bottom {
        top: calc(52vh);
        left: calc(48vw);
    }


}